JPA_HTML_JQUERY_EJB_WEBSERVICE/EJB_WebService/webServiceClient/src/wsdl/localhost_8080/webService/servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ServicioWeb.webSer.app/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ServicioWeb.webSer.app/">

<xs:element name="agregarCliente" type="tns:agregarCliente"/>

<xs:element name="agregarClienteResponse" type="tns:agregarClienteResponse"/>

<xs:element name="buscarCliente" type="tns:buscarCliente"/>

<xs:element name="buscarClienteResponse" type="tns:buscarClienteResponse"/>

<xs:element name="elimiarCliente" type="tns:elimiarCliente"/>

<xs:element name="elimiarClienteResponse" type="tns:elimiarClienteResponse"/>

<xs:element name="listarCliente" type="tns:listarCliente"/>

<xs:element name="listarClienteResponse" type="tns:listarClienteResponse"/>

<xs:complexType name="buscarCliente">
<xs:sequence>
<xs:element name="nm_cliente" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="elimiarCliente">
<xs:sequence>
<xs:element name="nm_cliente" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="elimiarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCliente">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:thomClienteEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="thomClienteEntity">
<xs:sequence>
<xs:element name="cdCliente" type="xs:string" minOccurs="0"/>
<xs:element name="cdTelefono" type="xs:string" minOccurs="0"/>
<xs:element name="cdUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="dnDireccion" type="xs:string" minOccurs="0"/>
<xs:element name="dnEmail" type="xs:string" minOccurs="0"/>
<xs:element name="dnNombre" type="xs:string" minOccurs="0"/>
<xs:element name="dsContacto" type="xs:string" minOccurs="0"/>
<xs:element name="dsLogo" type="xs:string" minOccurs="0"/>
<xs:element name="fechaBaja" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nmCliente" type="xs:int" minOccurs="0"/>
<xs:element name="SActivo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarCliente">
<xs:sequence>
<xs:element name="nm_cliente" type="xs:int" minOccurs="0"/>
<xs:element name="cd_cliente" type="xs:string" minOccurs="0"/>
<xs:element name="dn_nombre" type="xs:string" minOccurs="0"/>
<xs:element name="dn_direccion" type="xs:string" minOccurs="0"/>
<xs:element name="dn_email" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_baja" type="xs:string" minOccurs="0"/>
<xs:element name="cd_usuario" type="xs:string" minOccurs="0"/>
<xs:element name="s_activo" type="xs:string" minOccurs="0"/>
<xs:element name="cd_telefono" type="xs:string" minOccurs="0"/>
<xs:element name="ds_contacto" type="xs:string" minOccurs="0"/>
<xs:element name="ds_logo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>