JPA_HTML_JQUERY_EJB_WEBSERVICE/EJB_WebService/webServiceClient/src/wsdl/localhost_8080/webServiceServerEJB/webService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService.web.app/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService.web.app/" name="webService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService.web.app/" schemaLocation="http://localhost:8080/webServiceServerEJB/webService?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizarCliente">
<part name="parameters" element="tns:actualizarCliente"/>
</message>
<message name="actualizarClienteResponse">
<part name="parameters" element="tns:actualizarClienteResponse"/>
</message>
<message name="listarCliente">
<part name="parameters" element="tns:listarCliente"/>
</message>
<message name="listarClienteResponse">
<part name="parameters" element="tns:listarClienteResponse"/>
</message>
<message name="agregarCliente">
<part name="parameters" element="tns:agregarCliente"/>
</message>
<message name="agregarClienteResponse">
<part name="parameters" element="tns:agregarClienteResponse"/>
</message>
<message name="buscarCliente">
<part name="parameters" element="tns:buscarCliente"/>
</message>
<message name="buscarClienteResponse">
<part name="parameters" element="tns:buscarClienteResponse"/>
</message>
<message name="elimiarCliente">
<part name="parameters" element="tns:elimiarCliente"/>
</message>
<message name="elimiarClienteResponse">
<part name="parameters" element="tns:elimiarClienteResponse"/>
</message>
<portType name="webService">
<operation name="actualizarCliente">
<input wsam:Action="http://webService.web.app/webService/actualizarClienteRequest" message="tns:actualizarCliente"/>
<output wsam:Action="http://webService.web.app/webService/actualizarClienteResponse" message="tns:actualizarClienteResponse"/>
</operation>
<operation name="listarCliente">
<input wsam:Action="http://webService.web.app/webService/listarClienteRequest" message="tns:listarCliente"/>
<output wsam:Action="http://webService.web.app/webService/listarClienteResponse" message="tns:listarClienteResponse"/>
</operation>
<operation name="agregarCliente">
<input wsam:Action="http://webService.web.app/webService/agregarClienteRequest" message="tns:agregarCliente"/>
<output wsam:Action="http://webService.web.app/webService/agregarClienteResponse" message="tns:agregarClienteResponse"/>
</operation>
<operation name="buscarCliente">
<input wsam:Action="http://webService.web.app/webService/buscarClienteRequest" message="tns:buscarCliente"/>
<output wsam:Action="http://webService.web.app/webService/buscarClienteResponse" message="tns:buscarClienteResponse"/>
</operation>
<operation name="elimiarCliente">
<input wsam:Action="http://webService.web.app/webService/elimiarClienteRequest" message="tns:elimiarCliente"/>
<output wsam:Action="http://webService.web.app/webService/elimiarClienteResponse" message="tns:elimiarClienteResponse"/>
</operation>
</portType>
<binding name="webServicePortBinding" type="tns:webService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="elimiarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="webService">
<port name="webServicePort" binding="tns:webServicePortBinding">
<soap:address location="http://localhost:8080/webServiceServerEJB/webService"/>
</port>
</service>
</definitions>